# --------------------------------------
# Flutter & Dart
# --------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# --------------------------------------
# Android
# --------------------------------------
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/app/*.keystore
/android/app/*.jks
/android/key.properties
/android/captures/

# --------------------------------------
# iOS
# --------------------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# --------------------------------------
# VS Code
# --------------------------------------
.vscode/
.history/

# --------------------------------------
# Android Studio / IntelliJ
# --------------------------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------------------------
# Logs & Miscellaneous
# --------------------------------------
*.log
*.tmp
*.temp
*.swp
*.swo
*.orig
.DS_Store
.atom/
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# --------------------------------------
# Python / Machine Learning Files
# --------------------------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.ipynb_checkpoints
*.pkl
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.joblib
*.dill
*.track.dill
*.cache
*.npz
*.npy

# --------------------------------------
# Symbolication & Obfuscation
# --------------------------------------
app.*.symbols
app.*.map.json

# --------------------------------------
# Generated Assets (Keep custom assets)
# --------------------------------------
*.jar
*.apk
*.ap_
*.aar
*.dex
*.class

# --------------------------------------
# Others
# --------------------------------------
*.keystore
*.jks
*.env
.env*
firebase_app_id_file.json
google-services.json
GoogleService-Info.plist
